@font-face {
    font-family: "Poppins";
    src: url(Poppins-Medium.ttf);
}

:root {
    --gray-color: #808080;
    --low-gray-color: #80808069;
    --text-color: black;
    --background-color: rgba(255, 255, 255, 0.863);
}

.dark {
    --gray-color: #dddddd;
    --low-gray-color: #c9c2c2b7;
    --text-color: white;
    --background-color: rgba(0, 0, 0, 0.842);
    --input-back-color: rgba(56, 56, 56, 0.699);
}

* {
    transition:
        color 0.3s linear,
        background-color 0.3s linear,
        border-color 0.3s linear
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image: url(../Public/pexels.2jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-box .main-section .right-box {
    background-color: var(--background-color);
    border-radius: 0 15px 15px 0;
    padding: 70px;
    /* margin: 10px 0; */
    height: 100%;
    align-content: center;
}

.main-box .main-section .right-box .right-header h3 {
    margin: 0;
    color: var(--gray-color);
    font-size: 1rem;
    color: var(--text-color);
}

.main-box .main-section .right-box .right-header h2 {
    color: var(--text-color);
    font-size: 2.5rem;
    margin: 0;
}

.main-box .main-section .right-box .right-header {
    margin-bottom: 35px;
}


.main-box .main-section .right-box .inputs {
    display: block;
    margin-bottom: 20px;
}

.main-box .main-section .right-box .inputs label {
    color: var(--text-color);
    font-weight: bold;
}

.main-box .main-section .right-box .inputs input::placeholder {
    color: var(--gray-color);
    padding-left: 15px;
}

.main-box .main-section .right-box .inputs input[type="text"],
.main-box .main-section .right-box .inputs input[type="password"] {
    width: 100%;
    height: 4vh;
    border-radius: 8px;
    border: 2px solid var(--low-gray-color);
    margin-top: 5px;
    padding-left: 10px;
    background-color: var(--input-back-color);
    font-weight: bolder;
    font-size: medium;
}

.main-box .main-section .right-box .inputs div #pass-btn {
    color: var(--text-color);
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}


.main-box .main-section .right-box .inputs input:focus {
    border: 2px solid var(--low-gray-color);
}

/* search to edit  */


.main-box .main-section .right-box .check,
.main-box .main-section .right-box .check a {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    transition: color 0.3s linear;
}

.main-box .main-section .right-box .check a:hover {
    color: var(--low-gray-color);
}


.main-box .main-section .right-box .login {
    text-align: center;
}

.main-box .main-section .right-box .login h4 {
    color: var(--text-color);
}

.main-box .main-section .right-box .login>button {
    background-color: var(--text-color);
    color: var(--background-color);
    transition: background-color 0.3s linear, color 0.3s linear;
}

.main-box .main-section .right-box .login>button:hover {
    background-color: var(--gray-color);
}

.main-box .main-section .right-box .login>div>div {
    margin: 5px;
}

.main-box .main-section .right-box .login>div .face button:hover {
    background-color: rgba(57, 108, 248, 0.808);
}

.main-box .main-section .right-box .login>div .face button {
    background-color: rgb(57, 108, 248);
    color: white;
    transition: background-color 0.3s linear;
}

.main-box .main-section .right-box .login>div .insta button:hover {
    background: linear-gradient(30deg, rgba(255, 115, 0, 0.719) 10%, rgba(76, 0, 255, 0.719) 100%);
    transition: background 0.3s linear;
}

.main-box .main-section .right-box .login>div .insta button {
    background: linear-gradient(30deg, rgb(255, 115, 0) 10%, rgb(76, 0, 255) 100%);
    color: white;
}

.main-box .main-section .right-box .login>div .goo button:hover {
    background-color: rgb(189, 189, 189);
}

.main-box .main-section .right-box .login>div .goo button {
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    transition: background-color 0.3s linear;
}

.main-box .main-section .right-box .login button {
    width: 100%;
    height: 5vh;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

.main-box .main-section .right-box .right-footer,
.main-box .main-section .right-box .right-footer a {
    color: var(--text-color);
    /* text-decoration: none; */
    margin-top: 50px;
    text-align: center;
    transition: color 0.3s linear;
}

.main-box .main-section .right-box .right-footer h3 {
    font-weight: normal;
}

.main-box .main-section .right-box .right-footer a {
    font-weight: bold;
}

.main-box .main-section .right-box .right-footer a:hover {
    color: var(--low-gray-color);
}

.main-box .main-section .right-box .right-header .mood {
    border-radius: 50px;
    width: 120px;
    height: 50px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    font-size: medium;
    cursor: pointer;
}

.main-box .main-section .right-box .right-header .mood:hover {
    background-color: var(--gray-color);
}






/* left box */

.main-box .main-section .left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border-radius: 150px; */
    padding: 40px;
    /* margin: 10px 0; */
    backdrop-filter: blur(30px);
    border-radius: 15px 0 0 15px;
}

.main-box .main-section .left-box .left-header {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.left-box .left-header h2 {
    font-size: xx-large;
}

.left-box .left-header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.left-box .left-header .mood {
    border-radius: 8px;
    width: 70px;
    height: 30px;
}

.main-box .main-section .left-box .left-footer {
    color: white;
}

.main-box .main-section .left-box .left-footer h2 {
    font-size: xx-large;
}

.main-box .main-section .left-box .left-footer h4 {
    font-weight: lighter;
}